<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>TransitCheck - A community driven solution to get you places.</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="js/modernizr.js"></script>
  </head>

  <body>



    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">TransitCheck</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="index.html">HOME</a></li>
            <li class="active"><a href="about.html">ABOUT</a></li>      
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  <body>

     


     <div class="container mtb">
          <div class="row">
               <div class="col-lg-6">
                    <img class="img-responsive" src="images/loginbg.jpg" alt="Person overlooking bus">
               </div>
               
               <div class="col-lg-6">
                    <h4>The Story Behing TransitCheck...</h4>

                    <p>We all have had close calls with public transit... sometimes we just make the bus, other times we aren't that lucky. We experienced this a fair number of times, and wondered if there was a way of knowing... If only someone told us that the bus was a few minutes early, how much of a difference it would have made. We could have made that important meeting on time, and maybe land a good seat at the movies for once.</p>
                    <p>That got us thinking, and we decided to put our beginner hack skills to try and address this issue... and thus evolved TransitCheck, an effort to get the community involved in helping people get places on time.</p>
       
               

                    
               </div>
          </div><!-- /row -->
     </div><!--/container -->


     <!-- *****************************************************************************************************************
     TEEAM MEMBERS
     ***************************************************************************************************************** -->

     <div class="container mtb">
          <div class="row centered">
               <h3 class="mb">MEET OUR TEAM</h3>
               
               <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="he-wrap tpl6">
                    <img src="assets/img/team/team01.jpg" alt="">
                         <div class="he-view">
                              <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="http://github.com/abhijith1995" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                            <a href="http://twitter.com" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                         </div><!-- he bg -->
                         </div><!-- he view -->          
                    </div><!-- he wrap -->
                    <h4>Abhijith Ramalingam</h4>
                    <h5 class="ctitle">Database Developer & Front End Engineer</h5>
                    <p>A first year Mechatronics Engineering student at University of Waterloo, Abhijith is often involved in various math-related side projects and playing with robots. In his spare time he enjoys binge watching TV shows like Game of Thrones and House
                    of Cards.</p>
                    <div class="hline"></div>
               </div><!--/col-lg-3 -->

               <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="he-wrap tpl6">
                    <img src="assets/img/team/team02.jpg" alt="">
                         <div class="he-view">
                              <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="http://github.com/AddySridhar95" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                            <a href="http://twitter.com" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                         </div><!-- he bg -->
                         </div><!-- he view -->          
                    </div><!-- he wrap -->
                    <h4>Aditya Sridhar</h4>
                    <h5 class="ctitle">Back-end Node.JS Engineer</h5>
                    <p>First year software engineering student, enthusiastic about coding and exploring the world of Ruby on Rails in his free time. Aditya also likes to play chess and one of his hobbies is photography.</p>
                    <div class="hline"></div>
               </div><!--/col-lg-3 -->

               <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="he-wrap tpl6">
                    <img src="assets/img/team/team03.jpg" alt="">
                         <div class="he-view">
                              <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                          <a href="http://github.com/ayushbhagat" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                            <a href="http://twitter.com" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                         </div><!-- he bg -->
                         </div><!-- he view -->          
                    </div><!-- he wrap -->
                    <h4>Ayush Bhagat</h4>
                    <h5 class="ctitle">MongoDB & Node.JS Developer</h5>
                    <p>Also a first year software engineering student at University of Waterloo, Ayush can be found dabbling with various technologies and when not challenging himself with various coding projects, he likes to follow North American sport teams and watching TV shows.</p>
                    <div class="hline"></div>
               </div><!--/col-lg-3 -->

               <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="he-wrap tpl6">
                    <img src="assets/img/team/team04.jpg" alt="">
                         <div class="he-view">
                              <div class="bg a0" data-animate="fadeIn">
                            <h3 class="a1" data-animate="fadeInDown">Contact Me:</h3>
                            <a href="http://github.com/kaivalyagandhi" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-github"></i></a>
                            <a href="http://twitter.com" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-twitter"></i></a>
                         </div><!-- he bg -->
                         </div><!-- he view -->          
                    </div><!-- he wrap -->
                    <h4>Kaivalya Gandhi</h4>
                    <h5 class="ctitle">Front-end Engineer & Consultant</h5>
                    <p>A first year student at University of Waterloo, Kaivalya recently developed his interest in the fascinating world of code. He tends to take a systems approach to projects, and looks to approach things with fresh perspective, partly owing to his diverse interests in entertainment technology and the digital media. He looks to combine these with his current interests, while pursuing Software Engineering.  </p>
                    <div class="hline"></div>
               </div><!--/col-lg-3 -->               
               
          </div><!--/row -->
     </div><!--/container -->
     

     
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
     <script src="assets/js/retina-1.1.0.js"></script>
     <script src="assets/js/jquery.hoverdir.js"></script>
     <script src="assets/js/jquery.hoverex.min.js"></script>
     <script src="assets/js/jquery.prettyPhoto.js"></script>
       <script src="assets/js/jquery.isotope.min.js"></script>
       <script src="assets/js/custom.js"></script>


  </body>
</html>
