<!doctype html>
<html>
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/ico/favicon.ico">

    <title>Create alert</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">
      <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    	<style>
		body 		{ padding-top:80px; }
	</style>

</head>
<body>
	<% include navbar%>
	<div class="container">
		<% if(User.userBuses.length != 0){ %>
		<h1>Fill the form to notify alerts</h1>
		<form action="/notifySubmit" method="post">
		<div class="well">
		<div class="row">
			<div class="col-xs-6">
			<p>Choose direction: </p>
			<input type="radio" name="direction" value="Northbound">  Northbound <br>
			<input type="radio" name="direction" value="Southbound">  Southbound <br>
			<input type="radio" name="direction" value="Westbound">  Westbound <br>
			<input type="radio" name="direction" value="Eastbound">  Eastbound<br>	
			</div>
			<div class="col-xs-6">
				<div class="ui-widget">
					<label for="routes">Routes: </label> <br>
  					<input id="tags" name="route">
  				</div>
  					DJHED
  					<% User.userBuses.forEach(function(entry){ %>
					<input type="checkbox" name="<%= entry %>"><%= entry %><br>
					<% }); %>
				
			<br>
			<label for="routes">Alert: </label> <br>
			<input type="text" name="transitalert"> <br>		
			</div>
		</div>
		<br>
		 	<button type="submit" class="btn btn-primary">Submit</button>
		 </div>
		</form>
		<%}else{%>
			<h1>You do not have any buses added yet. Add the bus route you want to create an alert for...</h1>
			<button class="btn btn-primary"><a href="/addBuses">Add Bus Routes.</a></button>
	</div>
</body>